h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(19, 116, 19), 0px 0px 13px rgb(29, 148, 29), 0px 0px 15px rgb(121, 198, 54), 3px 0px 20px rgb(227, 192, 77);
    text-align: center;
}

button{
    float: left;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(197, 196, 196);
}
.button1{ 
    padding: 25px;
    margin: 20px 40px;
}

.button2{
    padding: 25px;
    float: right;
    margin: 30px 40px;
}

#para{
    background-color: rgb(167, 239, 167);
    padding: 10px;
	border-radius: 15px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button:hover {
    background-color: rgb(204, 249, 211);
}
body{
	background-color: #f9fae6
}

.cent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

img{
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid black;
}
.midbutton{
	padding: 25px;
}
